<div class="page-container">
  <header>
    <img class="logo" src="assets/images/logo.png">
  </header>

  <div class="game-container">
    <button *ngIf="!homeTeam" mat-flat-button color="primary" (click)="openGameDialog()">Αρχικοποίηση Παιχνιδιού</button>

    <div *ngIf="homeTeam">
      <section class="teams-section">
        <div class="team home-team">
          <img class="flag" [src]="'assets/flags/'+homeTeam.value+'.jpg'">
          <span>{{ homeTeam.name }}</span>
        </div>

        <div class="team away-team">
          <img class="flag" [src]="'assets/flags/'+awayTeam.value+'.jpg'">
          <span>{{ awayTeam.name }}</span>
        </div>
      </section>

      <section></section>
    </div>
  </div>
</div>
