aside {
  background: var(--swatch3);
  border-radius: 6px;
  font-style: italic;
  padding: 10px;
}

.flag {
  border-radius: 6px;
  width: 60px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
