:root {
  --swatch1: #040b59;
  --swatch2: #ffffff;
  --swatch3: #ff5640;
  --swatch4: #757575;
}

body {
  background: var(--swatch1);
  color: var(--swatch2);
  font-family: 'Manrope', sans-serif;
  height: 100vh;
  margin: 0;
}
