@use '@angular/material' as mat;
@import '@angular/material/theming';

@include mat.all-component-typographies();
@include mat.core();

$primary: (
  50 : #ffebe8,
  100 : #ffccc6,
  200 : #ffaba0,
  300 : #ff8979,
  400 : #ff6f5d,
  500 : #ff5640,
  600 : #ff4f3a,
  700 : #ff4532,
  800 : #ff3c2a,
  900 : #ff2b1c,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffd0cd,
  A700 : #ffb7b3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$app-accent: mat.define-palette($primary, 600);
$app-primary: mat.define-palette($primary, 600);

$app-theme: mat.define-light-theme((
  color: (
    accent: $app-accent,
    primary: $app-primary
  )
));

@include mat.all-component-themes($app-theme);

$app-typography: mat.define-typography-config(
  $font-family: '"Manrope", "Helvetica Neue", sans-serif'
);

@include mat.all-component-typographies($app-typography);

html {
  --mat-select-enabled-arrow-color: var(--swatch2);
  --mat-select-enabled-trigger-text-color: var(--swatch2);
}

.mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography {
  line-height: normal;
  letter-spacing: normal;
}

.mat-mdc-button.mat-unthemed {
  --mdc-text-button-label-text-color: var(--swatch2);
}

.mat-mdc-dialog-actions {
  gap: 10px;
  justify-content: flex-end !important;
  padding: 16px 24px !important;
}

.mat-mdc-dialog-container {
  --mdc-dialog-subhead-color: var(--swatch2);
  --mdc-dialog-subhead-tracking: normal;
  --mdc-dialog-supporting-text-color: var(--swatch2);
  --mdc-dialog-supporting-text-line-height: normal;
  --mdc-dialog-supporting-text-tracking: normal;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: var(--swatch1) !important;
  border-radius: 20px !important;
  color: var(--swatch2);
}

.mat-mdc-dialog-title {
  align-items: center;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 !important;
  padding: 16px 24px !important;
}

.mat-mdc-form-field-bottom-align::before {
  display: initial !important;
}

.mat-mdc-form-field-error {
  white-space: pre-wrap;
  line-height: normal;
  letter-spacing: normal;
}

.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
  position: initial !important;
}

.mat-mdc-select-value {
  letter-spacing: normal;
}

.mat-mdc-unelevated-button[disabled][disabled] {
  --mdc-filled-button-disabled-container-color: var(--swatch4);
}

.mdc-button {
  font-weight: bold;
  letter-spacing: normal;
}

.mdc-dialog .mdc-dialog__content {
  padding: 0 24px !important;
}

.mdc-dialog__title::before {
  content: none !important;
}

.mdc-list-item__primary-text {
  align-items: center;
  color: var(--swatch2);
  display: flex;
  gap: 10px;
  letter-spacing: normal !important;
  margin-bottom: 10px;
}

.mdc-menu-surface {
  background-color: var(--swatch1) !important;
}

.mdc-text-field {
  padding: 0 !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--swatch2);
  letter-spacing: normal;
  font-size: 14px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: none;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: var(--swatch2);
}

.mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before {
  border-bottom-color: var(--swatch3);
}
